extends layout 

block content 

    h1 #{title} : #{author.name} 
    p = author.lifespan 

    if author_books.length 
        div(style='border-style: solid; padding-top: 20px; padding-left: 20px') 

            h4 List of books written by: #{author.name} 

            dl 
            each book in author_books 
                dt 
                    a(href=book.url) #{book.title} 
                dd #{book.summary} 
    else 
        p This author has not written any books.